{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Pull in hero image -->
{% include 'hero.html' %}

<!-- Pull in parent_info modal -->
{% include 'parent_info.html' %}

<div class="flex justify-center p-8 bg-blue-900">
  <!-- Container for form and all its info -->
  <div
    class="border border-black rounded bg-zinc-50 p-4 relative max-w-sm sm:max-w-xl"
  >
    <!-- Form title and initial instruction -->
    <div class="text-center mb-2 border-b-2 border-black">
      <h1 class="text-3xl md:text-4xl mb-2 font-title text-orange-600">
        Sign-up
      </h1>

      <!-- When errors in submitted form instruction replaced by error message -->
      {% if messages %}
      <ul class="mb-4">
        {% for message in messages %}
        <li{% if message.tags %} class="text-blue-700"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
      </ul>
      <!-- Form instruction when form first viewed -->
      {% else %}
      <p class="mb-4">
        You will need a parent or guardian to help you complete this process
      </p>
      {% endif %}
      <!-- Specific error details -->
      {% for field in new_user_form %}
      <p>
        {% for error in field.errors %}
      <p class="text-blue-700">{{ error }}</p>
      {% endfor %}
      </p>
      {% endfor %}
      {% if new_user_form.non_field_errors %}
      <p>{{new_user_form.non_field_errors}}</p>
      {% endif %}

    </div>

    <!-- Signup form. NewUserForm passed in by view -->
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}

      <!-- Child's section -->
      <div class="border-b-2 border-black">
        <h2 class="text-xl text-orange-700 mb-2">Your Section</h2>
        <div class="mb-4 flex flex-col sm:flex-row">
          <div class="mb-4">
            <label for="{{ new_user_form.username.id_for_label }}" class="">
              Pen Name
            </label>
            {{ new_user_form.username }}
          </div>
          <div>
            <label for="{{ new_user_form.age.id_for_label }}" class="sm:ml-4">
              Age
            </label>
            {{ new_user_form.age }}
          </div>
        </div>
        <p class="mb-4">
          The next section is for your parent or guardian to complete and should
          be their details.
        </p>
      </div>

      <!-- Parent section -->
      <div class="border-b-2 border-black">
        <h2 class="text-xl text-orange-700 my-2">Parent/Guardian Section</h2>
        <div class="mb-4 flex flex-col sm:flex-row">
          <div class="mb-4">
            <label for="{{ new_user_form.first_name.id_for_label }}" class="">
              First Name
            </label>
            {{ new_user_form.first_name }}
          </div>
          <div>
            <label
              for="{{ new_user_form.last_name.id_for_label }}"
              class="sm:ml-4"
            >
              Last Name
            </label>
            {{ new_user_form.last_name }}
          </div>
        </div>
        <div class="mb-4">
          <label for="{{ new_user_form.email.id_for_label }}" class="form-item"
            >Email Address</label
          >
          {{ new_user_form.email }}
        </div>
        <div class="mb-4">
          <label
            for="{{ new_user_form.consent.id_for_label }}"
            class="form-item"
            >I consent to my child using this site</label
          >
          {{ new_user_form.consent }}
        </div>
        <p class="mb-4 text-sm">
          Please see the
          <button
            id="open-parent-info"
            aria-label="open information for parents"
            class="text-blue-700">
            Information for parents
          </button>
          to find out more about what signing up will mean for your child and
          the steps that are in place to increase safety. If you have any
          questions of concerns please
          <a href="{% url 'contact' %}" class="text-blue-700">Contact Us</a>.
        </p>
      </div>

      <!-- Password section -->
      <div class="mb-12 sm:mb-4">
        <h2 class="text-xl text-orange-700 my-2">Complete Sign-up</h2>
        <div class="mb-4">
          <label for="{{ new_user_form.password1.id_for_label }}">
            Password
          </label>
          {{ new_user_form.password1 }}
        </div>
        <div>
          <label for="{{ new_user_form.password2.id_for_label }}">
            Re-enter Password
          </label>
          {{ new_user_form.password2 }}
        </div>
      </div>

      <!-- Submit the form -->
      <input
        type="submit"
        value="Sign-up"
        id="submit-button"
        class="absolute right-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white text-lg hover:cursor-pointer"
      />
    </form>
  </div>
</div>
{% endblock%}
