{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- Page Background-->
<div class="bg-blue-900 h-full pb-4 pt-16 lg:pt-20">

    <!-- Heading showing user they are in the their work section of platform -->
    {% include 'my_work_title.html' %}

    <div class="flex justify-center mt-4">
    <!-- Container for form and all its info -->
        <div class="border border-black rounded bg-zinc-50 p-4 relative w-4/5 md:w-2/3 lg:max-w-xl mb-4">
        
            <!-- Form title and initial instruction -->
            <div class="text-center mb-4 border-b-2 border-black">
                <h2 class="text-3xl md:text-4xl mb-2 font-title text-orange-600">
                    {% if writing.approved %}
                    Edit my published work
                    {% elif writing.pending_approval %}
                    Edit my work awaiting approval
                    {% elif writing.failed_approval %}
                    Edit my work not meeting requirements
                    {% else %}
                    Edit my draft work
                    {% endif %}
                </h2>

                <!-- When errors in submitted form instruction replaced by error message -->
                {% if messages %}
                <ul class="mb-4">
                    {% for message in messages %}
                    <li{% if message.tags %} class="text-blue-700"{% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>

                <!-- Form instruction when form first viewed -->
                {% else %}
                {% if not confirmation_needed %}
                <p class="mb-4 md:text-lg">
                    Make any changes you need, then choose what you want to happen with your writing next.
                </p>
                {% endif %}
                {% endif %}

                <!-- Specific error details -->
                {% for field in create_writing_form %}
                <p>
                    {% for error in field.errors %}
                <p class="text-blue-700">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                {% if create_writing_form.non_field_errors %}
                <p>{{create_writing_form.non_field_errors}}</p>
                {% endif %}

                <!-- Confirmation needed message -->
                {% if confirmation_needed %}


                {% endif %}
            </div>

            <!-- Create Writing form -->
            {% if confirmation_needed %}
            <form action="{% url 'create' %}?confirm=True" method="post">

            {% else %}
            <form action="{% url 'create' %}" method="post">
            {% endif %}

            {% csrf_token %}

                <!-- Title -->
                <div class="mb-4">
                    <label for="{{ create_writing_form.title.id_for_label }}" class="mr-0.5 sm:mr-2 md:text-lg md:mr-1 md:ml-2">
                        Title
                    </label>
                    {{ create_writing_form.title }}
                </div>

                <!-- Body -->
                <div class="mb-4">
                    <label for="{{ create_writing_form.body.id_for_label }}" class="md:text-lg md:ml-2">
                        Your writing
                    </label>
                    {{ create_writing_form.body }}
                </div>

                <!-- Submit form choices  -->

                <!-- Submit for publishing -->
                <div class="flex justify-center mb-12 sm:mb-0">
                    <input
                    type="submit"
                    value="Submit to be published"
                    id="publish"
                    name="publish"
                    class="p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                    />
                </div>

                <!-- Save as draft -->
                <input
                type="submit"
                value="Save as draft"
                id="draft"
                name="draft"
                class="absolute left-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                />

                

                <!-- Delete -->
                <input
                type="submit"
                value="Delete writing"
                id="delete"
                name="delete"
                class="absolute right-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                />

                {% if confirmation_needed %}

                {% endif %}
            </form>

        </div>
    </div>
</div>
{% endblock%}
