{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- Page Background-->
<div class="bg-blue-900 h-full pb-4 pt-16 lg:pt-20">

    <!-- Heading showing user they are in the their work section of platform -->
    <div class="flex justify-center h-fit">
        <div class="text-center px-4 py-2 bg-horange my-4 h-fit rounded border border-black">
            
            <h1 class="text-3xl md:text-4xl font-title text-black mb-2">
                My Work
            </h1>

        </div>
    </div>

    <div class="flex justify-center mt-4">
    <!-- Container for form and all its info -->
        <div class="border border-black rounded bg-zinc-50 p-4 relative w-4/5 md:w-2/3 lg:max-w-xl mb-4">
        
            <!-- Back buttom to return user to my work -->
            <a
            href="{% url 'my_work' user.id %}"
            title="Return to My Work. Any changes will not be saved."
            class="absolute top-4 right-4"
            id="back-button">
                <i class="fa-solid fa-x text-4xl" aria-hidden="true"></i>
            </a>

            <!-- Form title and initial instruction -->
            <div class="text-center mb-4 border-b-2 border-black">
                <h2 class="text-3xl md:text-4xl mb-2 font-title text-orange-600">
                    Edit Writing
                </h2>

                <!-- Confirm back handled by JavaScript function closeConfirmNeeded-->
                <div class="hidden border border-black rounded bg-zinc-50 p-4 w-full mb-4 relative bottom-7" id="confirm-modal">
                    <p class="text-blue-700 mb-12">Are you sure you want to head back? Any changes you have made will not be saved.</p>
                    <button 
                        class="absolute left-4 bottom-4 p-1 mt-6 rounded border-orange-700 border-2 border-solid bg-zinc-50 hover:bg-orange-700 text-orange-700 hover:text-white text-lg md:text-xl hover:cursor-pointer w-fit"
                        id="keep-writing">
                        Keep editing
                    </button>
                    <a class="absolute right-4 bottom-4 p-1 mt-6 rounded border-orange-700 border-2 border-solid bg-zinc-50 hover:bg-orange-700 text-orange-700 hover:text-white text-lg md:text-xl hover:cursor-pointer w-fit"
                        href="{% url 'my_work' user.id %}">
                        Head back
                    </a>
                </div>

                <!-- Space for messages -->
                {% if messages %}
                <ul class="mb-4">
                    {% for message in messages %}
                    <li{% if message.tags %} class="text-blue-700"{% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>

                <!-- Form instruction -->
                {% else %}

                {% if not confirmation_needed %}
                {% if not confirmation_delete_needed%}

                <!-- Special instructions if work already published -->
                {% if writing.approved %}
                <p class="text-blue-700 mb-4">
                    As your work is already published. Editing will remove your work from the library and any changes will need to be submitted again for approval.
                </p>

                <!-- Special instructions if work awaiting approval to be published -->
                {% elif writing.pending_approval %}
                {% if writing.failed_approval %}
                <p class="text-blue-700 mb-4">
                    {{ writing.reason_failed}}
                </p>
                {% else %}
                <p class="text-blue-700 mb-4">
                    Your work is currently awaiting approval to be  published. Editing will stop this process and any changes will need to be submitted again for approval.
                </p>
                {% endif %}
                {% else %}
                <!-- Normal instruction -->
                <p class="mb-4 md:text-lg">
                    Make any changes you need, then choose what you want to happen with your writing next.
                </p>
                {% endif %}

                {% else %}
                <!-- Instruction when confirmation delete needed -->
                <p class="mb-4 md:text-lg text-blue-700">
                    Are you sure you wish to delete your writing? Once deleted you cannot get your writing back.
                </p>
                {% endif %}
                {% else %}
                <!-- Instruction when confirmation publish needed-->
                <div class="mb-2">
                    <h3 class="text-blue-700 font-title text-2xl mb-2">Your writing is ready to be published</h3>
                    <p class="text-blue-700">If you are happy for your work to be read by others please click to 
                        <span class="font-bold">confirm</span>
                    </p>
                    <p class="text-blue-700">Otherwise please click to  
                        <span class="font-bold">save as draft</span>
                    </p>
                </div>
                {% endif %}
                {% endif %}

                <!-- Specific error details -->
                {% for field in create_writing_form %}
                <p>
                    {% for error in field.errors %}
                <p class="text-blue-700">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                {% if create_writing_form.non_field_errors %}
                <p>{{create_writing_form.non_field_errors}}</p>
                {% endif %}
            </div>

            <!-- Create Writing form -->
            {% if confirmation_needed %}
            <!-- Form to confirm publish -->
            <form action="{% url 'edit' work_id %}?confirm=True" method="post">

            {% elif confirmation_delete_needed %}
            <!-- Form to confirm delete-->
            <form action="{% url 'edit' work_id %}?confirm_delete=True" method="post">

            {% else %}
            <!-- Form to edit -->
            <form action="{% url 'edit' work_id %}" method="post">
            {% endif %}

            {% csrf_token %}

                <!-- Title -->
                <div class="mb-4">
                    <label for="{{ create_writing_form.title.id_for_label }}" class="mr-0.5 sm:mr-2 md:text-lg md:mr-1 md:ml-2">
                        Title
                    </label>
                    {{ create_writing_form.title }}
                </div>

                <!-- Body -->
                <div class="mb-12">
                    <label for="{{ create_writing_form.body.id_for_label }}" class="md:text-lg md:ml-2">
                        Your writing
                    </label>
                    {{ create_writing_form.body }}
                </div>

                <!-- Submit form choices  -->
                {% if not confirmation_delete_needed %}
                {% if not confirmation_needed %}

                <!-- Normal editing choices -->

                <!-- Submit for publishing -->
                <div class="flex justify-center mb-12 sm:mb-0">
                    <input
                    type="submit"
                    value="Submit to be published"
                    id="publish"
                    name="publish"
                    class="p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                    />
                </div>

                <!-- Save as draft -->
                <input
                type="submit"
                value="Save as draft"
                id="draft"
                name="draft"
                class="absolute left-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                />

                <!-- Confirm delete -->
                <input
                type="submit"
                value="Delete writing"
                id="delete"
                name="delete"
                class="absolute right-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                />

                {% else %}
                <!-- Confirmation publish pathway -->

                <!-- Confirm submit to publish -->
                <input
                type="submit"
                value="Confirm"
                id="publish"
                name="publish"
                class="absolute right-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                />

                <!-- Save as draft -->
                <input
                type="submit"
                value="Save as draft"
                id="draft"
                name="draft"
                class="absolute left-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                />
                {% endif %}

                {% else %}
                <!-- Confirmation delete pathway -->

                <!-- Confirm delete -->
                <input
                type="submit"
                value="Delete writing"
                id="delete"
                name="delete"
                class="absolute right-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                />

                <!-- Don't delete -->                
                <input
                type="submit"
                value="Keep writing"
                id="keep"
                name="keep"
                class="absolute left-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white sm:text-lg hover:cursor-pointer"
                />
                {% endif %}
            </form>

        </div>
    </div>
</div>
{% endblock%}
