<!-- Heading showing user they are in the their work section of platform -->
<div class="flex justify-center h-fit">
    <div class="text-center px-4 py-2 bg-horange my-4 h-fit rounded border border-black">
        
        <!-- User specific title -->
        {% if user.username %}
        <h1 class="text-3xl md:text-4xl font-title text-black">
            <span>{{ user.username }}'s</span> Work
        </h1>
        {% endif %}
        
        <!-- Space for any messages -->
        {% if messages %}
        <div class="font-body text-sm md:text-xl mt-4">
            <ul class="mb-4">
                {% for message in messages %}
                <li{% if message.tags %} class="text-blue-800 text-lg" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
</div>
