{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- Page Background-->
<div class="bg-blue-900 h-full pb-4 pt-16 lg:pt-20">

    <!-- Heading showing user they are in the their work section of platform -->
    {% include 'my_work_title.html' %}

    <div class="flex justify-center mt-4">
        <!-- Container for page information -->
        <div class="border border-black rounded bg-zinc-50 p-4 relative w-11/12 sm:max-w-xl h-96">
            
            <!-- Back buttom to return user to my work -->
            <a
            href="{% url 'my_work' user.id %}"
            title="Return to My Work. Any changes will not be saved."
            class="absolute top-4 right-4">
                <i class="fa-solid fa-x text-4xl" aria-hidden="true"></i>
            </a>


            <!-- Key Details: Work title and date -->
            <div>
                <h2>
                    {{ writing.title }}
                </h2>

                {% if writing.approved %}
                <!-- Date details if Published -->
                <p>
                    Published on {{ writing.date_approved|date:"d M Y" }}
                </p>

                {% elif writing.pending_approval %}
                <!-- Date details and extra info if awaiting approval -->
                <p>
                    Submitted for publishing on {{ writing.date_submitted|date:"d M Y" }}
                </p>
                <p>
                    Please note it may take a few days for us to review your work.
                </p>
                {% endif %}
            </div>

            <!-- Space for messages -->
            {% if messages %}
            <div class="font-body text-sm md:text-xl mt-4">
                <ul class="mb-4">
                    {% for message in messages %}
                    <li{% if message.tags %} class="text-blue-800 text-lg" {% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <!-- Main body of writing -->
            <div class="overflow-auto mb-12">
                {{ writing.body }}
            </div>

            <!-- Links -->

            <a class="absolute left-4 bottom-4 p-1 mt-6 rounded border-orange-700 border-2 border-solid bg-zinc-50 hover:bg-orange-700 text-orange-700 hover:text-white text-lg md:text-xl hover:cursor-pointer w-fit"
            href="{% url 'edit' writing_id=writing.id %}">
            Edit writing
            </a>

            <a class="absolute right-4 bottom-4 p-1 mt-6 rounded border-orange-700 border-2 border-solid bg-zinc-50 hover:bg-orange-700 text-orange-700 hover:text-white text-lg md:text-xl hover:cursor-pointer w-fit"
            href="{% url 'edit' writing_id=writing.id %}">
            Delete writing
            </a>
        </div>
    </div>

    {% endblock%}
