{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Pull in hero image -->
{% include 'hero.html' %}

<div class="flex justify-center p-8 bg-blue-900">
  <div class="border border-black rounded bg-zinc-50 p-4 relative">
    {% if name %}
    <!-- Thank you message on contact form submission -->
    <h2
      class="text-2xl md:text-3xl mb-2 font-title text-orange-600 text-center"
    >
      Thank you for contacting us
    </h2>
    <p class="text-center">
      Thank you for contacting us {{ name }}. We will be back in touch soon.
    </p>

    {% else %}
    <!-- Contact us form -->
    <div class="text-center mb-6">
      <h1 class="text-3xl md:text-4xl mb-2 font-title text-orange-600">
        Contact us
      </h1>
      <p>Please get in touch if you have any questions, worries or concerns.</p>
    </div>
    <form action="{% url 'contact' %}" method="post" id="contact-form">
      {% csrf_token %}
      <!-- User information -->
      <div class="mb-4 flex flex-col sm:flex-row">
        <div class="mb-4">
          <label for="first-name" class="">First Name</label>
          <input
            type="text"
            id="first-name"
            name="first-name"
            class="border border-black w-36"
            required
          />
        </div>
        <div>
          <label for="last-name" class="sm:ml-4">Last Name</label>
          <input
            type="text"
            id="last-name"
            name="last-name"
            class="border border-black w-36"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label for="email" class="form-item">Email Address</label>
        <input
          type="email"
          id="email"
          name="email"
          class="border border-black w-80"
          required
        />
      </div>

      <!-- Question, worry or concern -->
      <div class="mb-12">
        <label for="message" class="">Your message</label>
        <br />
        <textarea
          id="message"
          name="message"
          class="border border-black w-full h-28"
          required
        >
        </textarea>
      </div>

      <!-- Submit the form -->
      <input
        type="submit"
        value="Submit"
        id="submit-button"
        class="absolute right-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white text-orange-700 text-lg hover:cursor-pointer"
      />
    </form>
    {% endif %}
  </div>
</div>

{% endblock%}
