{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Pull in hero image -->
{% include 'hero.html' %}

<!-- Title and site introduction -->
<div class="flex justify-center bg-neutral-50">
  <div class="text-center p-8">
    <h1 class="text-3xl md:text-4xl mb-4 font-title text-orange-600">
      Inspiring Young Writers aged 8 -12
    </h1>
    <div class="font-body text-sm md:text-xl">
        <!-- Space for successful log out message -->
        {% if messages %}
        <ul class="mb-4">
            {% for message in messages %}
            <li{% if message.tags %} class="text-blue-700" {% endif %}>
                {{ message }}
                </li>
                {% endfor %}
        </ul>
        <!-- Original introduction -->
        {% else %}
        <p>Write and share stories, poetry or non-fiction text.</p>
        <p>Whatever you feel inspired to write!</p>
        {% endif %}
    </div>
  </div>
</div>

{% endblock%}
