{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-blue-900 h-full">
    <!-- Pull in hero image -->
    {% include 'hero.html' %}
    <div class="flex justify-center p-8">
        <!-- Container for form and all its info -->
        <div class="border border-black rounded bg-zinc-50 p-4 relative max-w-sm">
        
            <!-- Password reset success message -->
            <div class="text-center mb-2">
                <h1 class="text-3xl md:text-4xl mb-2 font-title text-orange-600">
                    Password Reset
                </h1>
                <p class="mb-2">
                    Your password has been reset
                </p>
                <p>
                    Use your new password to 
                    <a href="{% url 'login' %}" class="text-blue-700 hover:font-bold">login</a> and get writing!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock%}
