{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Created while following along to the tutorial
'Password Reset and Password Change (Django)'
by CodeWithMitch https://www.youtube.com/watch?v=W5PyXUTjwS4 -->

<div class="bg-blue-900 h-full">
    <!-- Pull in hero image -->
    {% include 'hero.html' %}
    <div class="flex justify-center p-8">
        <!-- Container for form and all its info -->
        <div class="border border-black rounded bg-zinc-50 p-4 relative max-w-sm">
        
            <!-- Form title and initial instruction -->
            <div class="text-center mb-2 border-b-2 border-black">
                <h1 class="text-3xl md:text-4xl mb-2 font-title text-orange-600">
                    Password Reset
                </h1>

                <p class="mb-2">
                    To reset your password please enter your email.
                </p>
                <p class="mb-2">
                    This is the email address your parent/guardian registered when you first signed up.
                </p>
            </div>

            <!-- Generate email to reset password -->
            <form id="id_password_reset_form" method="POST">
                {% csrf_token %}

                <div class="flex flex-col mt-4 mb-12">
                    <div class="mb-4">
                        <label for="id_email" class="">
                            Email
                        </label>
                        <input name="email" placeholder="Email address" type="email" id="id_email" required="true">
                    </div>
                    <div>
            
                    </div>
                </div>

                <!-- Submit the form -->
                <input type="submit" value="Send reset email" id="submit-button"
                    class="absolute right-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white text-lg hover:cursor-pointer" />
            </form>
        </div>
    </div>
</div>
{% endblock%}