{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-blue-900 h-full">
    <!-- Pull in hero image -->
    {% include 'hero.html' %}
    <div class="flex justify-center p-8">
        <!-- Container for form and all its info -->
        <div class="border border-black rounded bg-zinc-50 p-4 relative max-w-sm">
        
            <!-- Form title and initial instruction -->
            <div class="text-center mb-2 border-b-2 border-black">
                <h1 class="text-3xl md:text-4xl mb-2 font-title text-orange-600">
                    Password Reset
                </h1>

                <!-- When errors in submitted form instruction replaced by error message -->
                {% if messages %}
                <ul class="mb-4">
                {% for message in messages %}
                <li{% if message.tags %} class="text-blue-700"{% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
                </ul>
                <!-- Form instruction when form first viewed -->
                {% else %}
                <p class="mb-2">
                    Please enter a new password for: 
                </p>
                <p class="mb-4 font-bold">
                    {{ user }}
                </p>
                {% endif %}
                <!-- Specific error details -->
                {% for field in form %}
                <p>
                {% for error in field.errors %}
                <p class="text-blue-700 mb-4">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                {% if form.non_field_errors %}
                <p>{{form.non_field_errors}}</p>
                {% endif %}
            </div>

            <!-- Generate email to reset password -->
            <form method="POST">
                {% csrf_token %}

                <div class="mb-12">
                    <div class="mb-4">
                    <label for="{{ form.new_password1.id_for_label }}">
                        Password
                    </label>
                    {{ form.new_password1 }}
                    </div>
                    <div>
                    <label for="{{ form.new_password2.id_for_label }}">
                        Re-enter Password
                    </label>
                    {{ form.new_password2 }}
                    </div>
                </div>

                <!-- Submit the form -->
                <input type="submit" value="Update Password" id="submit-button"
                    class="absolute right-4 bottom-4 p-1 rounded border-orange-700 border-2 border-solid bg-white hover:bg-orange-700 text-orange-700 hover:text-white text-lg hover:cursor-pointer" />
            </form>
        </div>
    </div>
</div>
{% endblock%}