{% extends 'base.html' %}

{% block content %}

<!-- Error title and explanation -->
<div class="flex justify-center mt-16 lg:mt-20 h-full">
    <div class="text-center p-8 bg-neutral-50 mt-10">
        <h1 class="text-3xl md:text-4xl mb-4 font-title text-orange-600">404 ERROR</h1>
        <div class="font-body text-sm md:text-xl mb-4">
            <p>The webpage you are trying to access does not exist</p>
            <p>or has a dead or broken link</p>
        </div>
        <a 
        class="p-2 rounded border-orange-700 border-2 border-solid bg-white text-orange-700 text-2xl hover:cursor-pointer"
        href="{% url 'home' %}"
        role="button">
            Return to the home page
        </a>
    </div>

</div>


{% endblock%}
