{% load static %}

<footer>
    <div class="flex font-body p-2 h-11 md:h-14 border-t-2 border-black bg-orange-500">
        <!-- Developer info -->
        <p class="p-0.5 md:text-xl"><span class="hidden sm:inline">Created by </span>Georgina Carlisle <span class="hidden sm:inline">for educational purposes only </span> -  2023</p>
        
        <!-- Developer links -->
        <span class="ml-8 text-xl md:text-2xl">
            <a href="https://github.com/GeorginaCarlisle" 
            target="_blank" 
            rel="noopener" 
            aria-label="Visit my GitHub profile (opens in a new tab)"
            class="mr-8">
            <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/georgina-carlisle-617b58268" 
            target="_blank" 
            rel="noopener" 
            aria-label="Visit my linkedin profile (opens in a new tab)">
            <i class="fa-brands fa-linkedin"></i>
            </a>
        </span>

        <!-- Empty div to creat-->
        <div></div>
    </div>

  </footer>
