<!-- Parent info modal handled by JavaScript function parentInfo -->
<div class="hidden fixed top-10 z-20 justify-center w-full"
    id="parent-info-modal"
    aria-hidden="true">

    <div class="relative border border-black rounded bg-zinc-50 p-4 w-11/12 mb-4">

        <!-- Close Modal Button -->
        <button id="parent-info-closed" 
            aria-label="Close parent information" 
            class="absolute top-4 right-4">
            <i class="fa-solid fa-x text-4xl"></i>
        </button>
        
        <!-- Modal info -->
        <h2>Information for Parents</h2>
    </div>
</div>